* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: linear-gradient(#bbe664, #9ce591);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
}

.sketchpad {
    width: 500px;
    height: 500px;
    margin: 30px auto 10px;
    align-content: center;
    background-image: linear-gradient(
      to top right, 
      rgba(138, 0, 0, 0.994), #8d3e01
    );
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgb(75, 74, 74);
}

h1 {
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    font-weight: bolder;
    text-shadow: -2px 0px 0px white,
                2px 0px 0px white,
                0px -2px 0px white,
                0px 2px 0px white;
}

.sketchpad-grid {
    width: 400px;
    height: 400px;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 1px solid darkgray;
}

.sketchpad-header,
.sketchpad-footer {
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2px;
    align-items: center;
}

.sketchpad-header {
    align-items: center;
}

.sketchpad-footer > * {
    flex: 2;
    padding: 5px 15px;
}

.sketchpad-footer > .empty-small {
    flex: 0.5;
}

.sketchpad-footer > .empty {
    flex: 7;
}

.sketchpad-footer > .grid-input {
    flex: 2;
}

button {
    width: 44px;
    height: 30px;
    border-radius: 30px;
}

button.color-mode {
    background-color: darkblue;
}

button.darkening-mode {
    background-color: rgb(53, 53, 53);
}

.new-grid-input {
    width: 65px;
    height: 30px;
    border-radius: 5px;
    text-align: right;
    padding: 3px;
    font-family: 'Passion One', cursive;
    font-weight: normal;
}

.new-grid-input::-webkit-outer-spin-button,
.new-grid-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-grid-input {
    -moz-appearance: textfield;
}

.sketchpad-grid > * {
    flex: 1;
    display: flex;
    flex-direction: row;
    border-collapse: collapse;
}

.generated {
    aspect-ratio: 1/1;
    flex: 1;
    border: 0.05px solid hsl(0, 0%, 0%);
    border-collapse: collapse;
}

.white-colored {
    background-color:hsl(0, 0%, 96%);
}

.black-colored {
    background-color:hsl(0, 0%, 0%);
}

.color-mode.on {
    background: radial-gradient(rgb(255, 162, 162),rgb(3, 3, 255));
}

.darkening-mode.on {
    background: radial-gradient(rgb(255, 162, 162),rgb(177, 177, 177));
}

.new-grid-input {
    background-color: hsl(0, 0%, 90%);
}